# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Byte-compiled / optimized / DLL files
*.so

# C extensions
*.egg-info/
.eggs/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# SQLite database
*.db
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# 기타
*.log

# Git
.git/
